
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:skyblue;
    padding: 20px 30px;
}

.navbar a {
    color: black;
    text-decoration: none;
    font-size:small;
    padding: 10px 15px;
    justify-content: space-between;
}
h1{
    font-size: large;
}
menu{
    display: flex;
}
.menu-icon{
    display: none;
    font-size: small;
    color: black;
    cursor: pointer;
    }

.menu.show{
    display: flex;
}

@media (max-width: 392px){
.menu{
    display: none;
    flex-direction: column;
    background-color:white;
    width: 50%;
    position: absolute;
    top: 50px;
    left: 50%;
    right: 0;
    
}

.menu-icon{
    display: block;
}
.menu a{
    text-align: center;
}
}


.hero {
    text-align: center;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    
}

.hero h1 {
    font-size: xx-large;
    margin: 0;
}

.hero p {
    font-size: small;
}
.products {
    display: flex;
    gap:8rem;
    padding: 10px 10px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px auto;
    
}

.product {
    border:2px solid black;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    background-color: skyblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    box-shadow: 0 4px 8px;
    
}
.btn-container{
    padding: 10px 15px;
}
button{
    background-color: black;
    padding: 3px;
    color: white;
    
}

.product img {
    width: 100%;
    max-width: 100px;
    border-radius: 8px;
    max-height: 100px;
}

.product p{
    font-size: x-small;
    font-weight: bold;
}
.product h6{
    padding: 10px ;

}
.icon{

    padding: 10px;
    background-color: skyblue;
    text-align: center;
}
.footers {
    background-color: skyblue;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
    font-size: small;
}

.footer {
    text-align: center;
    padding: 1rem;
    background-color:skyblue;
    color: black;
    text-decoration: none;

}

